/* Created By: Christopher DeLeon */ 
/* Date: November 29, 2021 */


/* Css Reset
body, header, h1, main {
    margin: 0;
	padding: 0;
	border: 0;
}  */

/* Begin Styling Rules */ 
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    --primary-color:#171717;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: white;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

h1 {
    font-weight: 500;
}

main {
    margin: auto;
    text-align: center;
}

.title-section {
    padding: 1rem;
    border-top: 5rem;
}


#datepicker {
    box-sizing: border-box;
    width: 9rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

input[type="date" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 0px;
}



.image-div {
    width: 75%;
    margin:1rem auto 1rem;
    outline: solid 1px white;
    
}

#image_of_the_day {
    width: 100%;
    height: 10%
}

.video-div {
    width: 80%;
    margin: auto;
}

#videoLink {
    width: 100%;
    height: 70vh;

}

.description-div {
    width: 80%;
    margin: 0.1rem auto 1rem;
    border: solid 1px white;
    padding: 0.5rem;
    border-radius: 00.5rem;
}

#description {
    line-height: 1.82;
}


/* Footer */

.footer {
    padding: 4rem 1rem;
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    color: var(--yellow);
    text-align: center;
}

.footer-heading {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-link {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 0.5rem 1rem;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    margin: 0rem 0.5rem;
}