/* Created By: Christopher DeLeon */ 
/* Date: November 29, 2021 */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.intro {
    text-align: center;
}
.picture-explanation-container {
    display: flex;
}

#picture {
    width: 50%;
    margin-right: 1rem;
}

#explanation {
    letter-spacing: 0px;
    line-height: 20px;
}